<div class="row">
  <div class="col-xs-12">
    <h2>Suppliers List</h2>
    <form (ngSubmit)="onSubmit(editSupplier)" #editSupplier="ngForm">
      <div class="row">
        <div class="col-sm-2 form-group">
          <label for="id">Id</label>
          <input
            type="number"
            id="id"
            class="form-control"
            name="id"
            ngModel
            required
            pattern="^[1-9]+[0-9]*$"
          >
        </div>
        <div class="col-sm-4 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            name="name"
            ngModel
            required
          >
        </div>
        <div class="col-sm-4 form-group">
          <label for="products">Products id</label>
          <input
            type="text"
            id="products"
            class="form-control"
            name="products"
            ngModel
            required
            pattern="^[1-9]+[0-9]*$"
          >
        </div>
        <div class="col-sm-2 form-group">
          <label for="user">User id</label>
          <input
            type="number"
            id="user"
            class="form-control"
            name="user"
            ngModel
            required
            pattern="^[1-9]+[0-9]*$"
          >
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!editSupplier.valid">{{ editMode ? 'Update' : 'Add' }}</button>
          <button
            class="btn btn-danger"
            type="button"
            (click)="onDelete()"
            *ngIf="editMode">Delete</button>
          <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
